*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
}
section{
    display: inline-block;
    padding: 70px 5%;
}
.user_card{
    padding-top: 300px;
    line-height: 0px;
    background-color: #081420;
    overflow: hidden;
}
.user_card ul{
    background-color: #081420;
    max-width: 100%; 
    overflow-x: auto;
}
.user_card ul,.user_card li{
    list-style: none;
    display: inline-block;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
.card{
    display: inline-block;
    padding:20px ;
}
.profile{
    height: 100%;  
    width: 100%;
    background-color: #081420;
    display: inline-block;
    align-items: top;
    justify-content: center;
    text-align: center;
}
/* harus di kecilin lagi */
.container{
    height: 420px;
    width: 300px;
    max-width: 460px;
    background-color: #222429;
    padding: 0px 0px 50px 0px;
    border-radius: 20px;
    transition: all .40s ease;
    cursor: pointer;
}
.container:hover{
    transform: scale(1.1);
}
.container img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.profile-text h1{
    margin: 15px 0px 10px;
    font-size:35px ;
    color: white;
    line-height: 32px;
    font-weight: 600;
}
/* mark1 */
.profile-text-title {
    display: inline;
    background-color:pink;
}
.profile-text h4{
    margin-top: 30px;
    color: #efb90b;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 1.2rem;
}
.icons i{
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-bottom:2.2rem;
    transition: all .40s ease;
}
.icons i:hover{
    transform:scale(1.1);
    color: #efb90b;
}
.newslatter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
}
.newslatter form{
    width: 100%;
    max-width: 370px;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    outline: none;
    border: 2px solid #efb90b;
    padding: 11px 90px 11px 9px;
    border-radius:20px ;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    background-color: #efb90b;
    color: white;
    padding: 9px 29px;
    border-radius: 20px;
    cursor: pointer;
    top: 4px;
    right: 4px;
}
